 body {
     margin: 0;
     font-family: 'Raleway', sans-serif;
 }

 header {
    position: sticky;
    display: flex;
    height: 50px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 20px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

 header .container {
    display: inline-block;
    cursor: pointer;
    padding-left: 5px;
    padding-bottom: 7px;
}

 header .titulo-app {
    position: sticky;
    height: 50px;
    padding-bottom: 17px;
    padding-left: 10px;
    float: left;
}

 .contenedor-ecobici {
    height: calc(100vh - 95px);
    display: grid;
    grid-template-columns: 50% 10% 40%;
    grid-template-rows: 20% 40% 40%;
    grid-template-areas: 'mapa edades genero' 'mapa sankey sankey' 'mapa horarecorrido horarecorrido'
}


 .mapa {
     height: 100%;
     margin: 0;
     margin-bottom: 10px;
     padding:0;
     position: absolute;
     grid-area: mapa;
 }

 .mapa-graph {
     height: 95%;
     margin-bottom: 10px;
     padding:0;
     position: absolute;
 }

 .mapa mapa-graph {
     display: block;
     width: 100%;
     border: 0;
 }

 .titulo-genero {
     grid-area: titulogenero
 }

 .imagen-genero {
     padding-left: 20px;
     padding-right: 20px;
     position: relative;
     width: auto;
     height: 100%;
     grid-area: imagengenero;

 }

 .genero {
     z-index: -1;
     display: grid;
     border-radius: 5px;
     background-color: #f9f9f9;
     margin-top: 0px;
     margin-left: 5px;
     margin-right: 20px;
     padding: 5px;
     position: relative;
     box-shadow: 2px 2px 2px lightgrey;
     grid-area: genero;
     grid-template-columns: 20% 80%;
     grid-template-rows: 100%;
     grid-template-areas: 'titulogenero imagengenero'
 }

 .mini_container-grid-2 {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 10px;
  padding: 5px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
  grid-area: edades
}

.edad {
    align-items: center;
}

 .sankey {
     border-radius: 5px;
     background-color: #f9f9f9;
     margin-top: 25px;
     margin-left: 20px;
     margin-right: 20px;
     margin-bottom: 30px;
     position: relative;
     box-shadow: 2px 2px 2px lightgrey;
     grid-area: sankey;
 }

 .sankey-graph {
     margin-right: 5px;
     position: relative;
     width: auto;
     height: 100%;
 }

 .hora-recorrido {
     border-radius: 5px;
     background-color: #f9f9f9;
     margin-top: 25px;
     margin-left: 20px;
     margin-right: 20px;
     margin-bottom: 0px;
     position: relative;
     box-shadow: 2px 2px 2px lightgrey;
     grid-area: horarecorrido;
 }

 .hora-recorrido-graph {
     margin-right: 5px;
     position: relative;
     width: auto;
     height: 100%;

 }

 .modal {
     position: fixed;
     z-index: 1002;
     left: 0;
     top: 0;
     width: 100%;
     height: calc(100vh - 95px);
     background-color: rgba(0, 0, 0, 0.6);
 }

 /*.modal-content {*/
 /*    border-radius: 50px;*/
 /*    !*left: calc(100vh - 44%);*!*/
 /*    !*top: calc(100vh - 95%);*!*/
 /*    margin: 40px;*/
 /*    height: 500px;*/
 /*    padding: 40px;*/
 /*    background-color: white;*/
 /*}*/